set_location IN_MUX_bfv_6_11_0_ 6 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_12_0_ 6 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_12_0_ 3 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_13_0_ 3 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_11_0_ 12 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_12_0_ 12 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_13_0_ 12 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_14_0_ 12 14 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 1 1 #SB_LUT4
set_location GB_BUFFER_clk_c_THRU_LUT4_0 12 1 4 #SB_LUT4
set_location sincronismo.px_visible_I_3_i11_3_lut_3_lut 8 11 1 #SB_LUT4
set_location tabla.px_visible_I_3_i51_3_lut_3_lut 8 14 6 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_1_i7_3_lut_3_lut_4_lut 8 13 3 #SB_LUT4
set_location Q_45_add_4_23 12 13 5 #SB_CARRY
set_location sincronismo.Q_46_add_4_8_lut 3 12 6 #SB_LUT4
set_location Q_45_add_4_4_lut 12 11 2 #SB_LUT4
set_location Q_45__i3 12 11 3 #SB_DFFSS
set_location sincronismo.px_visible_I_3_i42_3_lut_3_lut 7 13 4 #SB_LUT4
set_location sincronismo.i1_3_lut_adj_9 5 13 4 #SB_LUT4
set_location sincronismo.Q_46__i3 3 12 3 #SB_DFFSR
set_location generador.px_visible_N_106_1__bdd_4_lut_1518_4_lut_4_lut 8 13 6 #SB_LUT4
set_location Q_45_add_4_32 12 14 6 #SB_CARRY
set_location Q_45__i12 12 12 4 #SB_DFFSS
set_location sincronismo.Q_46_add_4_3_lut 3 12 1 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_19_i15_4_lut_4_lut 8 13 1 #SB_LUT4
set_location i992_4_lut 11 13 2 #SB_LUT4
set_location i15_4_lut 11 12 7 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_13_i15_3_lut_4_lut 8 11 0 #SB_LUT4
set_location sincronismo.Q_47_add_4_8_lut 6 11 6 #SB_LUT4
set_location sincronismo.Q_47__i0 6 11 0 #SB_DFFESR
set_location Q_45_add_4_9_lut 12 11 7 #SB_LUT4
set_location Q_45_add_4_5 12 11 3 #SB_CARRY
set_location generador.i630_4_lut 8 14 5 #SB_LUT4
set_location generador.n1982_bdd_4_lut_4_lut 8 14 0 #SB_LUT4
set_location tabla.px_visible_I_3_i32_3_lut_3_lut_3_lut 6 14 1 #SB_LUT4
set_location sincronismo.Q_46_add_4_10_lut 3 13 0 #SB_LUT4
set_location generador.px_visible_N_106_1__bdd_4_lut_1508_4_lut_4_lut 7 15 4 #SB_LUT4
set_location Q_45_add_4_11 12 12 1 #SB_CARRY
set_location sincronismo.i2_2_lut 5 12 4 #SB_LUT4
set_location sincronismo.i1_4_lut 5 13 3 #SB_LUT4
set_location sincronismo.Q_47_add_4_4_lut 6 11 2 #SB_LUT4
set_location generador.i1390_3_lut 6 15 6 #SB_LUT4
set_location salida.i1453_2_lut_3_lut 5 13 5 #SB_LUT4
set_location Q_45_add_4_26 12 14 0 #SB_CARRY
set_location tabla.px_visible_N_106_0__bdd_4_lut_4_lut_4_lut_4_lut 9 14 0 #SB_LUT4
set_location sincronismo.i829_3_lut_4_lut 6 13 5 #SB_LUT4
set_location i1_2_lut 11 12 3 #SB_LUT4
set_location i18_3_lut 11 11 2 #SB_LUT4
set_location Q_45_add_4_11_lut 12 12 1 #SB_LUT4
set_location Q_45__i4 12 11 4 #SB_DFFSS
set_location sincronismo.i641_4_lut 5 12 2 #SB_LUT4
set_location Q_45_add_4_26_lut 12 14 0 #SB_LUT4
set_location sincronismo.i1446_2_lut_4_lut 3 14 2 #SB_LUT4
set_location sincronismo.Q_46__i6 3 12 6 #SB_DFFSR
set_location Q_45_add_4_18_lut 12 13 0 #SB_LUT4
set_location Q_45__i15 12 12 7 #SB_DFFSR
set_location tabla.n1946_bdd_4_lut_4_lut_4_lut 6 14 6 #SB_LUT4
set_location tabla.n1952_bdd_4_lut_4_lut_4_lut 6 15 5 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_49_i15_3_lut 7 14 2 #SB_LUT4
set_location sincronismo.Q_47_add_4_9 6 11 7 #SB_CARRY
set_location tabla.px_visible_I_3_i58_4_lut_4_lut_4_lut 7 15 1 #SB_LUT4
set_location generador.i104914_i1_4_lut 5 14 2 #SB_LUT4
set_location Q_45_add_4_30 12 14 4 #SB_CARRY
set_location Q_45_add_4_28 12 14 2 #SB_CARRY
set_location Q_45_add_4_19 12 13 1 #SB_CARRY
set_location Q_45__i23 12 13 7 #SB_DFFSS
set_location Q_45__i10 12 12 2 #SB_DFFSR
set_location tabla.codigo_char_3__I_0_Mux_30_i7_3_lut_3_lut 8 15 1 #SB_LUT4
set_location Q_45_add_4_19_lut 12 13 1 #SB_LUT4
set_location generador.px_visible_N_106_1__bdd_4_lut_1531_4_lut_4_lut 8 11 2 #SB_LUT4
set_location generador.linea_4__bdd_4_lut_4_lut_4_lut 6 15 0 #SB_LUT4
set_location Q_45_add_4_20_lut 12 13 2 #SB_LUT4
set_location tabla.px_visible_I_3_i1_3_lut_3_lut_3_lut 8 14 1 #SB_LUT4
set_location sincronismo.Q_47__i2 6 11 2 #SB_DFFESR
set_location sincronismo.Q_46_add_4_10 3 13 0 #SB_CARRY
set_location sincronismo.Q_46__i8 3 13 0 #SB_DFFSR
set_location tabla.i2_4_lut 9 13 4 #SB_LUT4
set_location sincronismo.px_visible_I_3_i2_3_lut_3_lut 8 12 7 #SB_LUT4
set_location sincronismo.Q_47_add_4_9_lut 6 11 7 #SB_LUT4
set_location tabla.char_code_2__bdd_4_lut_4_lut_4_lut 9 12 6 #SB_LUT4
set_location sincronismo.px_visible_I_3_i19_3_lut_3_lut 9 11 2 #SB_LUT4
set_location sincronismo.i7_4_lut 5 12 1 #SB_LUT4
set_location sincronismo.Q_46_add_4_2_lut 3 12 0 #SB_LUT4
set_location generador.i6_4_lut_4_lut 5 12 0 #SB_LUT4
set_location Q_45_add_4_33_lut 12 14 7 #SB_LUT4
set_location Q_45_add_4_25 12 13 7 #SB_CARRY
set_location tabla.codigo_char_3__I_0_Mux_60_i15_3_lut 8 13 7 #SB_LUT4
set_location sincronismo.i988_3_lut_3_lut 6 15 3 #SB_LUT4
set_location sincronismo.Q_47_add_4_3_lut 6 11 1 #SB_LUT4
set_location sincronismo.Q_47__i7 6 11 7 #SB_DFFESR
set_location Q_45_add_4_13 12 12 3 #SB_CARRY
set_location Q_45__i9 12 12 1 #SB_DFFSS
set_location Q_45__i29 12 14 5 #SB_DFFSR
set_location i11_4_lut 11 12 0 #SB_LUT4
set_location Q_45_add_4_24_lut 12 13 6 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_6_i7_3_lut_3_lut_4_lut 7 13 6 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_43_i14_3_lut_3_lut 9 11 5 #SB_LUT4
set_location sincronismo.Q_46__i5 3 12 5 #SB_DFFSR
set_location i8_4_lut 11 12 2 #SB_LUT4
set_location Q_45_add_4_20 12 13 2 #SB_CARRY
set_location Q_45__i31 12 14 7 #SB_DFFSR
set_location Q_45__i18 12 13 2 #SB_DFFSS
set_location tabla.i619_3_lut 7 12 6 #SB_LUT4
set_location sincronismo.Q_46_add_4_5 3 12 3 #SB_CARRY
set_location Q_45_add_4_15_lut 12 12 5 #SB_LUT4
set_location Q_45__i2 12 11 2 #SB_DFFSS
set_location tabla.i904_3_lut_4_lut 7 12 3 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_41_i14_3_lut 7 12 5 #SB_LUT4
set_location sincronismo.Q_47_add_4_4 6 11 2 #SB_CARRY
set_location Q_45_add_4_17_lut 12 12 7 #SB_LUT4
set_location sincronismo.Q_46_add_4_6_lut 3 12 4 #SB_LUT4
set_location sincronismo.Q_46__i0 3 12 0 #SB_DFFSR
set_location generador.n1976_bdd_4_lut_4_lut 9 13 1 #SB_LUT4
set_location Q_45_add_4_3 12 11 1 #SB_CARRY
set_location Q_45_add_4_10_lut 12 12 0 #SB_LUT4
set_location Q_45__i24 12 14 0 #SB_DFFSR
set_location Q_45__i13 12 12 5 #SB_DFFSR
set_location sincronismo.i1003_4_lut 5 11 1 #SB_LUT4
set_location sincronismo.Q_47_add_4_10 6 12 0 #SB_CARRY
set_location generador.i4_4_lut 5 14 3 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_42_i15_3_lut 7 14 4 #SB_LUT4
set_location sincronismo.px_visible_I_3_i55_3_lut_3_lut 7 14 7 #SB_LUT4
set_location generador.i1386_3_lut_3_lut 6 13 7 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_18_i7_3_lut 9 12 4 #SB_LUT4
set_location sincronismo.Q_46_add_4_8 3 12 6 #SB_CARRY
set_location Q_45_add_4_6 12 11 4 #SB_CARRY
set_location Q_45__i21 12 13 5 #SB_DFFSS
set_location tabla.i1_2_lut_3_lut_4_lut 9 12 3 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_14_i15_3_lut 8 11 6 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_38_i15_3_lut 9 15 3 #SB_LUT4
set_location Q_45_add_4_13_lut 12 12 3 #SB_LUT4
set_location sincronismo.i989_4_lut 5 11 0 #SB_LUT4
set_location sincronismo.i2_4_lut 3 15 7 #SB_LUT4
set_location sincronismo.Q_47__i4 6 11 4 #SB_DFFESR
set_location Q_45_add_4_9 12 11 7 #SB_CARRY
set_location Q_45_add_4_3_lut 12 11 1 #SB_LUT4
set_location Q_45_add_4_25_lut 12 13 7 #SB_LUT4
set_location Q_45_add_4_10 12 12 0 #SB_CARRY
set_location sincronismo.i1_2_lut_adj_7 8 13 2 #SB_LUT4
set_location sincronismo.i1376_2_lut 5 11 5 #SB_LUT4
set_location salida.n_zona_4__I_0_Mux_1_i15_4_lut 5 13 0 #SB_LUT4
set_location tabla.i1375_4_lut_4_lut 6 15 2 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_11_i15_3_lut 8 12 4 #SB_LUT4
set_location i6_4_lut 11 13 5 #SB_LUT4
set_location Q_45_add_4_27 12 14 1 #SB_CARRY
set_location Q_45_add_4_12_lut 12 12 2 #SB_LUT4
set_location tabla.i3_4_lut 7 13 3 #SB_LUT4
set_location sincronismo.i621_3_lut_4_lut_4_lut 8 12 1 #SB_LUT4
set_location sincronismo.i1_2_lut 5 11 2 #SB_LUT4
set_location sincronismo.Q_47__i9 6 12 1 #SB_DFFESR
set_location sincronismo.Q_46_add_4_2 3 12 0 #SB_CARRY
set_location generador.px_visible_N_106_1__bdd_4_lut_4_lut_4_lut 7 15 6 #SB_LUT4
set_location Q_45_add_4_6_lut 12 11 4 #SB_LUT4
set_location Q_45_add_4_15 12 12 5 #SB_CARRY
set_location Q_45__i7 12 11 7 #SB_DFFSS
set_location tabla.i893_2_lut_3_lut_4_lut 8 12 0 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_5_i15_3_lut 8 12 5 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_33_i7_3_lut_4_lut 9 14 4 #SB_LUT4
set_location sincronismo.i1471_2_lut_2_lut_3_lut_4_lut 8 14 4 #SB_LUT4
set_location sincronismo.Q_47_add_4_3 6 11 1 #SB_CARRY
set_location generador.i1389_3_lut_3_lut 7 14 5 #SB_LUT4
set_location Q_45_add_4_2_lut 12 11 0 #SB_LUT4
set_location Q_45_add_4_16_lut 12 12 6 #SB_LUT4
set_location Q_45_add_4_14_lut 12 12 4 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_59_i14_3_lut_4_lut 9 12 0 #SB_LUT4
set_location sincronismo.Q_46__i7 3 12 7 #SB_DFFSR
set_location posicion.i120_2_lut 5 15 7 #SB_LUT4
set_location Q_45_add_4_30_lut 12 14 4 #SB_LUT4
set_location Q_45_add_4_22 12 13 4 #SB_CARRY
set_location Q_45__i16 12 13 0 #SB_DFFSS
set_location tabla.codigo_char_3__I_0_Mux_57_i15_4_lut 7 12 1 #SB_LUT4
set_location sincronismo.Q_47_add_4_5_lut 6 11 3 #SB_LUT4
set_location sincronismo.Q_47_add_4_11_lut 6 12 1 #SB_LUT4
set_location sincronismo.Q_46_add_4_9_lut 3 12 7 #SB_LUT4
set_location sincronismo.Q_46_add_4_7 3 12 5 #SB_CARRY
set_location i1481_4_lut 10 13 5 #SB_LUT4
set_location generador.i1393_3_lut 5 14 4 #SB_LUT4
set_location generador.i1392_3_lut 6 15 7 #SB_LUT4
set_location Q_45_add_4_32_lut 12 14 6 #SB_LUT4
set_location Q_45__i0 12 11 0 #SB_DFFSS
set_location tabla.px_visible_I_3_i54_3_lut_3_lut_3_lut 7 12 2 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_36_i15_4_lut 9 14 2 #SB_LUT4
set_location sincronismo.Q_47_add_4_6 6 11 4 #SB_CARRY
set_location i2_4_lut 11 13 4 #SB_LUT4
set_location Q_45_add_4_29_lut 12 14 3 #SB_LUT4
set_location tabla.px_visible_I_3_i20_3_lut_3_lut_3_lut 9 11 7 #SB_LUT4
set_location sincronismo.i1_2_lut_4_lut 5 11 3 #SB_LUT4
set_location sincronismo.i1454_2_lut 6 13 0 #SB_LUT4
set_location sincronismo.Q_46__i2 3 12 2 #SB_DFFSR
set_location Q_45_add_4_29 12 14 3 #SB_CARRY
set_location Q_45_add_4_18 12 13 0 #SB_CARRY
set_location Q_45__i22 12 13 6 #SB_DFFSR
set_location Q_45__i11 12 12 3 #SB_DFFSS
set_location tabla.codigo_char_3__I_0_Mux_20_i15_3_lut 9 11 6 #SB_LUT4
set_location sincronismo.i1_3_lut 5 13 7 #SB_LUT4
set_location sincronismo.i1018_3_lut_3_lut 8 15 3 #SB_LUT4
set_location i967_3_lut 11 13 1 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_17_i15_3_lut 9 12 7 #SB_LUT4
set_location sincronismo.i820_4_lut_3_lut 6 14 4 #SB_LUT4
set_location i2_3_lut 11 11 4 #SB_LUT4
set_location generador.px_visible_N_106_1__bdd_4_lut_1513_4_lut_4_lut 9 11 3 #SB_LUT4
set_location Q_45_add_4_7_lut 12 11 5 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_50_i15_3_lut_4_lut 7 14 0 #SB_LUT4
set_location sincronismo.px_visible_I_3_i4_3_lut_3_lut 8 12 6 #SB_LUT4
set_location sincronismo.Q_47__i1 6 11 1 #SB_DFFESR
set_location sincronismo.Q_46__i9 3 13 1 #SB_DFFSR
set_location Q_45_add_4_4 12 11 2 #SB_CARRY
set_location Q_45_add_4_21_lut 12 13 3 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_1_i15_3_lut 8 13 4 #SB_LUT4
set_location generador.i622_3_lut 8 12 2 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_61_i15_3_lut_4_lut 8 14 7 #SB_LUT4
set_location i3_4_lut 11 13 3 #SB_LUT4
set_location sincronismo.i4_4_lut 5 11 4 #SB_LUT4
set_location sincronismo.Q_47__i6 6 11 6 #SB_DFFESR
set_location generador.i1409_3_lut_3_lut 6 14 2 #SB_LUT4
set_location Q_45_add_4_23_lut 12 13 5 #SB_LUT4
set_location Q_45_add_4_12 12 12 2 #SB_CARRY
set_location Q_45__i8 12 12 0 #SB_DFFSR
set_location Q_45__i28 12 14 4 #SB_DFFSR
set_location sincronismo.n1994_bdd_4_lut_4_lut 9 11 1 #SB_LUT4
set_location sincronismo.i822_4_lut 7 13 5 #SB_LUT4
set_location sincronismo.i1_2_lut_3_lut_adj_8 7 13 2 #SB_LUT4
set_location sincronismo.i19_4_lut 6 13 1 #SB_LUT4
set_location generador.i617_4_lut 8 14 3 #SB_LUT4
set_location tabla.px_visible_I_3_i16_3_lut_3_lut_3_lut 9 13 6 #SB_LUT4
set_location tabla.i620_3_lut 7 12 7 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_33_i15_3_lut 9 14 5 #SB_LUT4
set_location Q_45_add_4_21 12 13 3 #SB_CARRY
set_location Q_45__i19 12 13 3 #SB_DFFSR
set_location tabla.codigo_char_3__I_0_Mux_9_i15_3_lut_4_lut 9 12 1 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_42_i7_3_lut_4_lut 7 14 3 #SB_LUT4
set_location sincronismo.px_visible_I_3_i24_3_lut_3_lut 9 16 1 #SB_LUT4
set_location sincronismo.Q_46_add_4_4 3 12 2 #SB_CARRY
set_location posicion.i122_2_lut 5 14 0 #SB_LUT4
set_location i5_3_lut 11 13 6 #SB_LUT4
set_location Q_45_add_4_17 12 12 7 #SB_CARRY
set_location Q_45__i5 12 11 5 #SB_DFFSS
set_location sincronismo.Q_47_add_4_7_lut 6 11 5 #SB_LUT4
set_location sincronismo.Q_47_add_4_5 6 11 3 #SB_CARRY
set_location sincronismo.Q_47_add_4_10_lut 6 12 0 #SB_LUT4
set_location tabla.i337_3_lut_3_lut_3_lut 7 15 0 #SB_LUT4
set_location sincronismo.Q_46__i1 3 12 1 #SB_DFFSR
set_location Q_45_add_4_8_lut 12 11 6 #SB_LUT4
set_location Q_45__i27 12 14 3 #SB_DFFSR
set_location Q_45__i14 12 12 6 #SB_DFFSR
set_location tabla.i498_2_lut 9 14 7 #SB_LUT4
set_location tabla.i1467_2_lut_3_lut_4_lut 9 12 5 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_25_i15_3_lut 8 15 2 #SB_LUT4
set_location sincronismo.i1469_2_lut 6 13 2 #SB_LUT4
set_location i14_4_lut 11 13 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location sincronismo.px_visible_I_3_i57_3_lut_3_lut 7 15 3 #SB_LUT4
set_location sincronismo.px_visible_I_3_i43_3_lut_3_lut 6 13 6 #SB_LUT4
set_location sincronismo.Q_47_add_4_8 6 11 6 #SB_CARRY
set_location sincronismo.i830_4_lut 7 13 7 #SB_LUT4
set_location i12_4_lut 11 11 1 #SB_LUT4
set_location Q_45_add_4_7 12 11 5 #SB_CARRY
set_location Q_45_add_4_31 12 14 5 #SB_CARRY
set_location Q_45_add_4_28_lut 12 14 2 #SB_LUT4
set_location Q_45__i20 12 13 4 #SB_DFFSS
set_location tabla.px_visible_I_3_i12_3_lut_3_lut_3_lut 8 11 7 #SB_LUT4
set_location generador.n2006_bdd_4_lut_4_lut 7 15 7 #SB_LUT4
set_location tabla.px_visible_I_3_i5_3_lut_3_lut_3_lut 7 13 1 #SB_LUT4
set_location tabla.i898_2_lut_3_lut_4_lut 7 12 4 #SB_LUT4
set_location sincronismo.Q_47_add_4_2_lut 6 11 0 #SB_LUT4
set_location Q_45_add_4_5_lut 12 11 3 #SB_LUT4
set_location Q_45_add_4_27_lut 12 14 1 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_43_i15_4_lut_4_lut 7 14 6 #SB_LUT4
set_location sincronismo.Q_47__i3 6 11 3 #SB_DFFESR
set_location generador.n1970_bdd_4_lut_4_lut 9 14 1 #SB_LUT4
set_location sincronismo.i803_4_lut 3 14 3 #SB_LUT4
set_location sincronismo.i1_4_lut_adj_5 5 13 1 #SB_LUT4
set_location sincronismo.i1475_4_lut 5 12 6 #SB_LUT4
set_location i1478_4_lut 11 12 4 #SB_LUT4
set_location Q_45_add_4_24 12 13 6 #SB_CARRY
set_location sincronismo.Q_47__i8 6 12 0 #SB_DFFESR
set_location generador.i1_3_lut 5 14 7 #SB_LUT4
set_location Q_45_add_4_14 12 12 4 #SB_CARRY
set_location Q_45__i6 12 11 6 #SB_DFFSS
set_location sincronismo.i2_3_lut_adj_6 3 11 0 #SB_LUT4
set_location sincronismo.Q_46__i4 3 12 4 #SB_DFFSR
set_location Q_45__i30 12 14 6 #SB_DFFSR
set_location Q_45__i17 12 13 1 #SB_DFFSS
set_location sincronismo.Q_46_add_4_6 3 12 4 #SB_CARRY
set_location generador.n1988_bdd_4_lut_4_lut 8 11 4 #SB_LUT4
set_location sincronismo.i2_3_lut 5 14 6 #SB_LUT4
set_location sincronismo.Q_47_add_4_7 6 11 5 #SB_CARRY
set_location generador.i628_4_lut 8 13 5 #SB_LUT4
set_location generador.i1380_3_lut_4_lut 5 14 5 #SB_LUT4
set_location Q_45_add_4_2 12 11 0 #SB_CARRY
set_location Q_45__i25 12 14 1 #SB_DFFSR
set_location sincronismo.i1465_2_lut_3_lut 6 13 4 #SB_LUT4
set_location Q_45_add_4_31_lut 12 14 5 #SB_LUT4
set_location sincronismo.i834_4_lut 6 13 3 #SB_LUT4
set_location sincronismo.i1460_2_lut_3_lut 5 13 2 #SB_LUT4
set_location sincronismo.Q_46_add_4_7_lut 3 12 5 #SB_LUT4
set_location generador.px_visible_N_106_0__bdd_4_lut_1503_4_lut_4_lut 7 15 2 #SB_LUT4
set_location sincronismo.Q_46_add_4_9 3 12 7 #SB_CARRY
set_location sincronismo.Q_46_add_4_11_lut 3 13 1 #SB_LUT4
set_location posicion.i132_2_lut_3_lut 6 14 0 #SB_LUT4
set_location i13_4_lut 11 12 6 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_6_i15_3_lut 7 13 0 #SB_LUT4
set_location sincronismo.i1_2_lut_3_lut 8 13 0 #SB_LUT4
set_location tabla.i1_4_lut 9 13 7 #SB_LUT4
set_location tabla.codigo_char_3__I_0_Mux_20_i7_3_lut_4_lut 9 12 2 #SB_LUT4
set_location sincronismo.i1010_3_lut_3_lut 8 11 3 #SB_LUT4
set_location sincronismo.Q_47__i5 6 11 5 #SB_DFFESR
set_location sincronismo.Q_46_add_4_5_lut 3 12 3 #SB_LUT4
set_location generador.n1958_bdd_4_lut 6 14 3 #SB_LUT4
set_location Q_45_add_4_8 12 11 6 #SB_CARRY
set_location tabla.i965_2_lut_3_lut_4_lut 7 12 0 #SB_LUT4
set_location tabla.i916_2_lut_4_lut 7 14 1 #SB_LUT4
set_location sincronismo.Q_47_add_4_6_lut 6 11 4 #SB_LUT4
set_location sincronismo.px_visible_I_3_i17_3_lut_3_lut 9 13 0 #SB_LUT4
set_location sincronismo.Q_46_add_4_4_lut 3 12 2 #SB_LUT4
set_location sincronismo.Q_46_add_4_3 3 12 1 #SB_CARRY
set_location generador.n2000_bdd_4_lut_4_lut 5 14 1 #SB_LUT4
set_location generador.n1964_bdd_4_lut_4_lut 7 15 5 #SB_LUT4
set_location Q_45_add_4_16 12 12 6 #SB_CARRY
set_location sincronismo.Q_47_add_4_2 6 11 0 #SB_CARRY
set_location generador.i1_2_lut_3_lut_4_lut 8 14 2 #SB_LUT4
set_location generador.px_visible_N_106_2__bdd_4_lut_4_lut 6 14 7 #SB_LUT4
set_location generador.px_visible_N_106_0__bdd_4_lut_1490_4_lut_4_lut 6 14 5 #SB_LUT4
set_location Q_45__i26 12 14 2 #SB_DFFSR
set_location Q_45_add_4_22_lut 12 13 4 #SB_LUT4
set_location Q_45__i1 12 11 1 #SB_DFFSS
set_io v_sync 7
set_io pixel 9
set_io led_piloto 1
set_io h_sync 8
set_io clk 94
